<a href="https://colab.research.google.com/github/omercelik01/Machine-Learning/blob/main/Datapreprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data = pd.read_csv("hotel_bookings.csv")
print(data.head())

          hotel  is_canceled  lead_time  arrival_date_year arrival_date_month  \
0  Resort Hotel            0        342               2015               July
1  Resort Hotel            0        737               2015               July
2  Resort Hotel            0          7               2015               July
3  Resort Hotel            0         13               2015               July
4  Resort Hotel            0         14               2015               July

   arrival_date_week_number  arrival_date_day_of_month  \
0                        27                          1
1                        27                          1
2                        27                          1
3                        27                          1
4                        27                          1

   stays_in_weekend_nights  stays_in_week_nights  adults  ...  deposit_type  \
0                        0                     0       2  ...    No Deposit
1                        0                     0       2  ...    No Deposit
2                        0                     1       1  ...    No Deposit
3                        0                     1       1  ...    No Deposit
4                        0                     2       2  ...    No Deposit

   agent company days_in_waiting_list customer_type   adr  \
0    NaN     NaN                    0     Transient   0.0
1    NaN     NaN                    0     Transient   0.0
2    NaN     NaN                    0     Transient  75.0
3  304.0     NaN                    0     Transient  75.0
4  240.0     NaN                    0     Transient  98.0

   required_car_parking_spaces  total_of_special_requests  reservation_status  \
0                            0                          0           Check-Out
1                            0                          0           Check-Out
2                            0                          0           Check-Out
3                            0                          0           Check-Out
4                            0                          1           Check-Out

  reservation_status_date
0              2015-07-01
1              2015-07-01
2              2015-07-02
3              2015-07-02
4              2015-07-03

[5 rows x 32 columns]

In [7]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB
None

In [8]:
from sklearn.preprocessing import LabelEncoder , OneHotEncoder
print(data['hotel'].value_counts())

hotel
City Hotel      79330
Resort Hotel    40060
Name: count, dtype: int64

Label Encoder

In [9]:
le = LabelEncoder()
data['hotel'] = le.fit_transform(data['hotel'])
print(data['hotel'].value_counts())
print(le.classes_)

hotel
0    79330
1    40060
Name: count, dtype: int64
['City Hotel' 'Resort Hotel']

In [10]:
print(data['customer_type'].value_counts())

customer_type
Transient          89613
Transient-Party    25124
Contract            4076
Group                577
Name: count, dtype: int64

One Hot Encoder

In [11]:
one_hot = OneHotEncoder()
transformed_data = one_hot.fit_transform(data['customer_type'].values.reshape(-1,1)).toarray()
print("\n----------------------------------")
print(one_hot.categories_)
transformed_data = pd.DataFrame(transformed_data ,
columns = ['Contract', 'Group', 'Transient', 'Transient-Party'])
print("\n----------------------------------")
print(transformed_data.head())

----------------------------------
[array(['Contract', 'Group', 'Transient', 'Transient-Party'], dtype=object)]

----------------------------------
   Contract  Group  Transient  Transient-Party
0       0.0    0.0        1.0              0.0
1       0.0    0.0        1.0              0.0
2       0.0    0.0        1.0              0.0
3       0.0    0.0        1.0              0.0
4       0.0    0.0        1.0              0.0

In [12]:
print(transformed_data.iloc[90 , ])

Contract           0.0
Group              0.0
Transient          1.0
Transient-Party    0.0
Name: 90, dtype: float64

In [13]:
print(data['customer_type'][90])

Transient

In [14]:
print(data.isnull().sum())

hotel                                  0
is_canceled                            0
lead_time                              0
arrival_date_year                      0
arrival_date_month                     0
arrival_date_week_number               0
arrival_date_day_of_month              0
stays_in_weekend_nights                0
stays_in_week_nights                   0
adults                                 0
children                               4
babies                                 0
meal                                   0
country                              488
market_segment                         0
distribution_channel                   0
is_repeated_guest                      0
previous_cancellations                 0
previous_bookings_not_canceled         0
reserved_room_type                     0
assigned_room_type                     0
booking_changes                        0
deposit_type                           0
agent                              16340
company                           112593
days_in_waiting_list                   0
customer_type                          0
adr                                    0
required_car_parking_spaces            0
total_of_special_requests              0
reservation_status                     0
reservation_status_date                0
dtype: int64

In [15]:
numeric_columns = [c for c in data.columns if data[c].dtype != np.dtype('O')]
print(len(numeric_columns) , len(data.columns))
print(numeric_columns)
temp_data = data[numeric_columns]
print(temp_data.info())

21 32
['hotel', 'is_canceled', 'lead_time', 'arrival_date_year', 'arrival_date_week_number', 'arrival_date_day_of_month', 'stays_in_weekend_nights', 'stays_in_week_nights', 'adults', 'children', 'babies', 'is_repeated_guest', 'previous_cancellations', 'previous_bookings_not_canceled', 'booking_changes', 'agent', 'company', 'days_in_waiting_list', 'adr', 'required_car_parking_spaces', 'total_of_special_requests']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  int64
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_week_number        119390 non-null  int64
 5   arrival_date_day_of_month       119390 non-null  int64
 6   stays_in_weekend_nights         119390 non-null  int64
 7   stays_in_week_nights            119390 non-null  int64
 8   adults                          119390 non-null  int64
 9   children                        119386 non-null  float64
 10  babies                          119390 non-null  int64
 11  is_repeated_guest               119390 non-null  int64
 12  previous_cancellations          119390 non-null  int64
 13  previous_bookings_not_canceled  119390 non-null  int64
 14  booking_changes                 119390 non-null  int64
 15  agent                           103050 non-null  float64
 16  company                         6797 non-null    float64
 17  days_in_waiting_list            119390 non-null  int64
 18  adr                             119390 non-null  float64
 19  required_car_parking_spaces     119390 non-null  int64
 20  total_of_special_requests       119390 non-null  int64
dtypes: float64(4), int64(17)
memory usage: 19.1 MB
None

In [23]:
from sklearn.impute import SimpleImputer

# Create a SimpleImputer instance with mean strategy
imputer = SimpleImputer(strategy='mean')

# Impute missing values in temp_data
temp_data_imputed = imputer.fit_transform(temp_data)

# Normalize the imputed data
normalized_data = normalizer.fit_transform(temp_data_imputed)

In [24]:
# Drop rows with missing values
temp_data_dropped = temp_data.dropna()

# Normalize the data without missing values
normalized_data = normalizer.fit_transform(temp_data_dropped)